<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap 4 CSS 的 CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Document</title>
</head>

<body style="padding-top: 95px">

    <script src="jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" >
        <a href="index.html" class="navbar-brand">
            <img src="image/logo/logo.png" alt="taitaifestlogo" height='50px'>
        </a>

        <button type="button" class="navbar-toggler" data-toggle='collapse' data-target='#navbarContent'>
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarContent">
            <ul class="navbar-nav mx-auto" align='auto'>
                <li class="nav-item">
                    <a href="news.html" class="nav-link">news</a>
                </li>

                <li class="nav-item">
                    <a href="headliner.php" class="nav-link">fountain-headliners</a>
                </li>

                <li class="nav-item">
                    <a href="lineup.html" class="nav-link">lineup</a>
                </li>
                
                <li class="nav-item">
                    <a href="timetable.html" class="nav-link">timetable</a>
                </li>
                
                <li class="nav-item">
                    <a href="ticket.php" class="nav-link">ticket</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="faq.html" class="nav-link dropdown-toggle" data-toggle='dropdown'>faq</a>
                    <div class="dropdown-menu">
                        <a href="faq_accomondation.html" class="dropdown-item">accomondation</a>
                        <a href="faq_getting_here.html" class="dropdown-item">getting here</a>
                    </div>
                </li>
                <li>
                    <a href="guestbook.php" class="nav-link">guestbook</a>
                </li>
            </ul>

            <form class="form-inline" >
                <a href="login.html" method="post" >login</a>
                <input type="search" class="search" placeholder="search">
            </form>
        </div>
    </nav>      

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">home</a></li>
        <li class="breadcrumb-item active"><a href="lineup.html">lineup</a></li>
    </ol>
</nav>

<div class="progress">
    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width: 60%"> 60% lineup relased</div>
</div>
<br>
    <!-- Vue實例的掛載點 -->
    <div id="app">
        <div class="container-fluid">
<!-- class="alert alert-info mt-2" role="alert" -->
            <div >
                <h5 class="text-center">select by genre</h5>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <select class="form-control" v-model='genre' >
                                <option v-for="genre in genres">{{ genre }}</option>
                            </select>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row" v-for="posts in results">
                <div class="col-sm col-md-6 col-lg-4 col-xl-3"  v-for="post in posts">
                    <!-- style="width: 18rem;" -->
                    <div class="card" >
                      <img class="card-img-top" :src="post.imgUrl" alt="Card image cap">
                      <div class="card-body">
                        <h5 class="card-title">{{ post.artist }}</h5>
                        <p class="card-text">{{ post.introduction }}</p>
                        <a :href="post.musicVideoUrl" class="btn btn-primary d-block text-center">{{ post.musicVideoName }}</a>
                      </div>
                    </div>
                </div>
            </div>


            <!-- <div class="row" v-for="posts in results">
                <div class="col-3" v-for="post in posts">
                    <div class="card">
                        <div class="card-header">
                            {{ post.artist }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ post.introduction }}</p>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Vue 的 CDN -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!-- Bootstrap 4 JavaScript 的 CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- Axios 的 CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Vue實例的程式碼 -->
    <script>
        const posts = []
        const genres_list = "pop, rock, punk";
        new Vue({
            el: '#app',
            data: {
                posts,
                // results: [],
                genres: genres_list.split(', '),
                genre: 'pop'
            },

            computed:{
                results(){
                    let posts = this.posts.slice().filter(post=>post.category===this.genre)
                    let i,j,chunkedArray=[],chunk=4;
                    for(i=0,j=0;i<posts.length;i+=chunk,j++){
                        chunkedArray[j]=posts.slice(i,i+chunk);
                    }
                    return chunkedArray
                }
            },

            mounted(){
                axios.get('./lineup.json').then((response) => {
                    this.posts = response.data;
                    this.getPostsByCategory(this.genre)
                }).catch(error => { console.log(error); });
            }
            // methods: {
            //     getPostsByCategory(genre) {
            //         let posts = this.posts.slice().filter(post => post.category === this.genre);
            //         let i, j, chunkedArray = [], chunk = 4;
            //         for (i = 0, j = 0; i < posts.length; i += chunk, j++) {
            //             chunkedArray[j] = posts.slice(i, i + chunk);
            //         };
            //         this.results = chunkedArray;
            //     }
            // }
        });
    </script>
</body>

</html>