footer{
	background-color: pink;
}

.footer-menu>li{
	display: inline-block;
	margin-right:1rem;
}


.map{
	width: 100%;
	height: 300px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

h1{
	line-height: 50%;
}

h3{
	position: relative;
	bottom: 10px;
}
.card-body a{
	position: absolute;
	bottom: 10px; 
}

.card-body{
	height: 250px;
}

.carousel-item {
  height: 450px;
}

.carousel-item img {
  min-height: 300px;
  max-height: 450px;
  object-fit: cover;
}

.news-left{ 
	float: left;
}

.news-clear-both{
	clear:both;
}

article{
	margin:10px;
}

.socialicon{
	width: 50px;
	height: 50px;
}

.newstitle{
	color: pink;
}

.date{
	color: gray;
}


.navbar-nav{
	text-align:;
}


.search{
	height: 1.5em;
	margin: 10px;
}

.login{
	margin: 10px;
	border:1px solid blue;
	padding: 10px;
	width: 260px;
}

.login input,p{
	margin: 10px
}

.login a{
	text-decoration: underline;
}


th{
	background-color: pink;
}

table{
	border:1px solid blue;
	padding: 10px;
	margin: 10px auto;
	text-align: center;
}

td,th{
	border:1px solid blue;
	width: 150px;
}

.day1{
	margin-left: auto;
}

.day2{
	margin-right: auto;
}


.table-hover tr:hover td{
  background-color: yellow;
}

a:hover{
	text-decoration: none;
}

